@model FireSys.Entities.EvidencijskaKartica

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <div class="form-group col-lg-6">
        @Html.LabelFor(model => model.DatumZaduzenja, htmlAttributes: new { @class = "control-label " })
        <div>
            @Html.EditorFor(model => model.DatumZaduzenja, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DatumZaduzenja, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-lg-6">
        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label " })
        <div>
            @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-lg-6">
        @Html.LabelFor(model => model.EvidencijskaKarticaTipId, "Tip evidencijske kartice", htmlAttributes: new { @class = "control-label " })
        <div>
            @Html.DropDownList("EvidencijskaKarticaTipId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EvidencijskaKarticaTipId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-lg-6">
        @Html.LabelFor(model => model.BrojEvidencijskeKartice, htmlAttributes: new { @class = "control-label " })
        <div>
            @Html.EditorFor(model => model.BrojEvidencijskeKartice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BrojEvidencijskeKartice, "", new { @class = "text-danger" })
        </div>
    </div>
</div>



