@model FireSys.Entities.EvidencijskaKartica

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EvidencijskaKartica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EvidencijskaKarticaTip.EvidencijskaKarticaTipNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvidencijskaKarticaTip.EvidencijskaKarticaTipNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojEvidencijskeKartice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojEvidencijskeKartice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obrisana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obrisana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumZaduzenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumZaduzenja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EvidencijskaKarticaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
