@model FireSys.Models.DashboardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row padding-top-10">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-th-list fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.RadniNaloziCount.</div>
                        <div>Radna naloga</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "RadniNalog")">
                <div class="panel-footer">
                    <span class="pull-left">Vidi više</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
            
        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-text-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.ZapisniciCount.</div>
                        <div>Zapisnika</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Zapisnik")">
                <div class="panel-footer">
                    <span class="pull-left">Vidi više</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-newspaper-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.EvidencijskeCount.</div>
                        <div>Evidencijske kartice</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "EvidencijskaKartica")">
                <div class="panel-footer">
                    <span class="pull-left">Vidi više</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-text-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.FaktureCount.</div>
                        <div>Fakture</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Fakture")">
                <div class="panel-footer">
                    <span class="pull-left">Vidi više</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-home fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.LokacijeCount.</div>
                        <div>Lokacije</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Lokacija")">
                <div class="panel-footer">
                    <span class="pull-left">Vidi više</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.KlijentiCount.</div>
                        <div>Klijenti</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Klijenti")">
                <div class="panel-footer">
                    <span class="pull-left">Vidi više</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-header fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.HidrantiCount.</div>
                        <div>Hidranta</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Hidrants")">
                <div class="panel-footer">
                    <span class="pull-left">Vidi više</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-fire-extinguisher fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.VatrigasniAparatiCount.</div>
                        <div>Vatrogasna aparata</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "VatrogasniAparat")">
                <div class="panel-footer">
                    <span class="pull-left">Vidi više</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>

    </div>
   
    <!--<div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-home fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                        <div>Vatrogasni aparati</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Hidrants")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Company
                            </th>
                        </tr>

                        

                    </table>
                </div>
                <!-- /.table-responsive
            </div>
        </div>
    </div>-->
</div>
<!-- /.row -->

