@model FireSys.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Hidranti.Count</div>
                        <div>Hidranti</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Tip
                            </th>
                            <th>
                                Company
                            </th>
                        </tr>

                        @foreach (var item in Model.Hidranti.Take(10))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HidrantId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HidrantTip.Naziv) 
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kompletnost.Naziv)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>

    </div>
    
    
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Hidranti.Count</div>
                        <div>Radni nalozi</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Company
                            </th>
                        </tr>

                        @foreach (var item in Model.Hidranti.OrderByDescending(x=>x.HidrantId).Take(10))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HidrantId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HidrantTip.Naziv)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kompletnost.Naziv)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-home fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Hidranti.Count()</div>
                        <div>Vatrogasni aparati</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Hidrants")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Company
                            </th>
                        </tr>

                        @foreach (var item in Model.Hidranti.Take(10))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HidrantId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HidrantTip.Naziv)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kompletnost.Naziv)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

