@model FireSys.Entities.RadniNalog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RadniNalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lokacija.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumNaloga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumNaloga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KorisnikKreiraiId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnikKreiraiId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojNaloga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojNaloga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojNalogaMjesec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojNalogaMjesec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojNalogaGodina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojNalogaGodina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumKreiranja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumKreiranja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aparati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aparati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hidranti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hidranti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Komentar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojHidranata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojHidranata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojAparata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojAparata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Narucilac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Narucilac)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
