@model FireSys.Entities.Hidrant

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hidrant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HidrantTip.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HidrantTip.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instalacija.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instalacija.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kompletnost.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kompletnost.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokacija.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromjerMlaznice.PromjerMlazniceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromjerMlaznice.PromjerMlazniceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oznaka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oznaka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HidrostatickiPritisak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HidrostatickiPritisak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HidrodinamickiPritisak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HidrodinamickiPritisak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protok)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HidrantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
