@model FireSys.Models.ZapisnikViewModel

@{
    ViewBag.Title = "Detalji zapisnika";
    Layout = null;
    Model.Zapisnik.DokumentacijaPrisutna = true;
}

<style>
    .broj-zapisnika {
        display: flex;
    }
</style>

<script>
    $(function () {
        $('.date').datepicker({ format: 'dd.mm.yyyy' }).datepicker("setDate", new Date());


        $('#Zapisnik_ZapisnikTipId').change(function () {
            var tip = $(this).val();

            if (tip === "1") {
                $('.hidrant-specific').addClass('hidden');
            } else {
                $('.hidrant-specific').removeClass('hidden');
            }
        });

    });
   
</script>


@*

    <div id="zapisnikModal" class="modal fade" role="dialog">
        <form id="zapisnikForm" action="~/Zapisnik/Create" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Novi zapisnik</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Zapisnik.DatumZapisnika">Datum pregleda</label>
                                @Html.EditorFor(model => model.Zapisnik.DatumZapisnika, new { htmlAttributes = new { @class = "form-control", placeholder = "Datum pregleda" } })
                            </div>

                            <div class="form-group col-md-6">
                                <label for="Zapisnik.BrojZapisnika">Broj zapisnika</label>
                                <div class="broj-zapisnika">
                                    @Html.EditorFor(model => model.Zapisnik.BrojZapisnika, new { htmlAttributes = new { @class = "form-control text-width-100" } })
                                    @Html.EditorFor(model => model.Zapisnik.BrojZapisnikaMjesec, new { htmlAttributes = new { @class = "form-control text-width-50" } })
                                    @Html.EditorFor(model => model.Zapisnik.BrojZapisnikaGodina, new { htmlAttributes = new { @class = "form-control text-width-50" } })
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="KlijentId">Klijent</label>
                                @Html.DropDownListFor(x => x.KlijentId, Model.Klijenti, new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-6">
                                <label for="Zapisnik.LokacijaId">Lokacija</label>
                                @Html.DropDownListFor(x => x.Zapisnik.LokacijaId, Model.Lokacije, new { @class = "form-control" })
                            </div>
                        </div>

                        @*<div class="form-group col-md-12">
                                <label for="Zapisnik.ZapisnikTipId">Tip zapisnika</label>
                                @Html.DropDownListFor(x => x.Zapisnik.ZapisnikTipId, Model.TipoviZapisnika, new { @class = "form-control" })
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="Zapisnik.PregledIzvrsioId">Pregled izvršio</label>
                                    @Html.DropDownListFor(x => x.Zapisnik.PregledIzvrsioId, Model.Zaposlenici, new { @class = "form-control" })
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="Zapisnik.KorisnikKontrolisaoId">Kontrolisao</label>
                                    @Html.DropDownListFor(x => x.Zapisnik.KorisnikKontrolisaoId, Model.Zaposlenici, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="Zapisnik.Napomena">Napomena</label>
                                @Html.TextAreaFor(model => model.Zapisnik.Napomena, new { @class = "form-control", @rows = 5 })
                            </div>

                            <div class="form-group col-md-6 dokumentacija hidden">
                                <label for="Zapisnik.DokumentacijaPrisutna">Dokumentacija prisutna</label>
                                @Html.CheckBoxFor(model => model.Zapisnik.DokumentacijaPrisutna.Value, new { @class = "form-control" })
                            </div>


                            <div class="form-group col-md-6 hidden">
                                <label for="Zapisnik.LokacijaHidranata">Lokacija hidranata</label>
                                @Html.RadioButtonFor(m => m.Zapisnik.LokacijaHidranata, "U objektu", new { id = "UObjektu", @checked = true }) U objektu
                                @Html.RadioButtonFor(m => m.Zapisnik.LokacijaHidranata, "Oko objekta", new { id = "OkoObjekta" }) Oko objekta
                            </div>

                            <div class="form-group col-md-12 hidden">
                                <label for="Zapisnik.HidrantPrikljucenNa">Hidrant priključen na</label>
                                @Html.TextAreaFor(model => model.Zapisnik.HidrantPrikljucenNa, new { @class = "form-control", @rows = 5 })
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


*@




<div id="zapisnikModal" class="modal fade" role="dialog">
    <form id="zapisnikForm" action="~/Zapisnik/Create" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Novi zapisnik</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Zapisnik.Datum zapisnika">Datum zapisnika</label>
                                @Html.EditorFor(model => model.Zapisnik.DatumZapisnika, new { htmlAttributes = new { @class = "form-control date", placeholder = "Datum zapisnika" } })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Zapisnik.BrojZapisnika">Broj zapisnika</label>
                                <div class="broj-zapisnika">
                                    @Html.EditorFor(model => model.Zapisnik.BrojZapisnika, new { htmlAttributes = new { @class = "form-control text-width-100" } })
                                    @Html.EditorFor(model => model.Zapisnik.BrojZapisnikaMjesec, new { htmlAttributes = new { @class = "form-control text-width-50" } })
                                    @Html.EditorFor(model => model.Zapisnik.BrojZapisnikaGodina, new { htmlAttributes = new { @class = "form-control text-width-50" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="KlijentId">Klijent</label>
                                @Html.DropDownListFor(x => x.KlijentId, Model.Klijenti, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="KlijentId">Regija</label>
                                @Html.DropDownListFor(x => x.KlijentId, Model.Klijenti, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Zapisnik.LokacijaId">Lokacija</label>
                                @Html.DropDownListFor(x => x.Zapisnik.LokacijaId, Model.Lokacije, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Zapisnik.ZapisnikTipId">Tip zapisnika</label>
                                @Html.DropDownListFor(x => x.Zapisnik.ZapisnikTipId, Model.TipoviZapisnika, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Zapisnik.PregledIzvrsioId">Pregled izvršio</label>
                                @Html.DropDownListFor(x => x.Zapisnik.PregledIzvrsioId, Model.Zaposlenici, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Zapisnik.KorisnikKontrolisaoId">Kontrolisao</label>
                                @Html.DropDownListFor(x => x.Zapisnik.KorisnikKontrolisaoId, Model.Zaposlenici, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Zapisnik.Napomena">Napomena</label>
                                @Html.TextAreaFor(model => model.Zapisnik.Napomena, new { @class = "form-control", @rows = 4 })
                            </div>
                        </div>
                    </div>

                    <div class="row hidrant-specific hidden">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Zapisnik.LokacijaHidranata">Lokacija hidranata</label>
                                @Html.RadioButtonFor(m => m.Zapisnik.LokacijaHidranata, "U objektu", new { id = "UObjektu", @checked = true }) U objektu
                                @Html.RadioButtonFor(m => m.Zapisnik.LokacijaHidranata, "Oko objekta", new { id = "OkoObjekta" }) Oko objekta
                            </div>
                        </div>
                    </div>

                    <div class="row hidrant-specific hidden">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Zapisnik.HidrantPrikljucenNa">Hidrant priključen na</label>
                                @Html.TextAreaFor(model => model.Zapisnik.HidrantPrikljucenNa, new { @class = "form-control", @rows = 4 })
                            </div>
                        </div>
                    </div>                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Kreiraj</button>
                </div>
            </div>

        </div>
    </form>
</div>








