@model FireSys.Models.ZapisnikViewModel

@{
    ViewBag.Title = "Detalji zapisnika";
}


<script type="text/javascript">

    var proizvodjacDisplayed = "Select";
    var centralaTipDisplayed = "Select";

    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "dd/MM/yyyy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });

    $(function () {
        // Sakrij textbox za unos proizvodjaca centrale
        $('.InsertCentralaProizvodjac').hide();
        // Sakrij texbox za tip centrale
        $('.InsertCentralaTip').hide();
        //
        $.ajaxSetup({ cache: false });
        $(".dropdownlistStyle").change(function () {
            var klijentId = $(".dropdownlistStyle").val();
            $.getJSON("/vatrosistemi/Zapisnik/GetLokacije",
                { klijentId: klijentId },
               function (fooList) {
                   $(".dropdownlistLokacije").empty();
                   $(".dropdownlistLokacije").append("<option value='0'>--Odaberi lokaciju--</option>");
                   if (fooList != null) {
                       $.each(fooList, function (index, fooListItem) {
                           $(".dropdownlistLokacije").append("<option value='" + fooListItem.Value + "'>" + fooListItem.Text + "</option>");
                       });
                   }
                   else
                       alert("Odabrani klijent nema lokacija. Unesite lokaciju.");
               });
        });
    });

    function AddNewLocation() {
        var klijentId = $(".dropdownlistStyle").val();
        var url = "/vatrosistemi/Lokacija/New?klijentId=" + klijentId + "&from=DodajZapisnik";
        window.location.href = url;
    }

    function AddNewKlijent() {
        var url = "/vatrosistemi/Klijent/New?from=DodajZapisnik&fromDokumentId=0";
        window.location.href = url;
    }

    function RedirectToZapisnik(zapisnikId) {
        var url = "/vatrosistemi/Zapisnik/Edit?zapisnikId=" + zapisnikId;
        window.location.href = url;
    }

    function ObrisiVatrogasniAparat(zapisnikId, vatrogasniAparatId) {
        $("#dialog-confirm").html("Da li ste sigurni da želite obrisati vatrogasni aparat?");

        // Define the Dialog and its properties.
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Modal",
            height: 250,
            width: 400,
            buttons: {
                "Da": function () {
                    $(this).dialog('close');
                    var url = "/vatrosistemi/Zapisnik/DeleteVatrogasniAparat?zapisnikId=" + zapisnikId + "&vatrogasniAparatId=" + vatrogasniAparatId;
                    window.location.href = url;
                },
                "Ne": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function ObrisiHidrant(zapisnikId, hidrantId) {
        $("#dialog-confirm").html("Da li ste sigurni da želite obrisati hidrant?");

        // Define the Dialog and its properties.
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Modal",
            height: 250,
            width: 400,
            buttons: {
                "Da": function () {
                    $(this).dialog('close');
                    var url = "/vatrosistemi/Zapisnik/DeleteHidrant?zapisnikId=" + zapisnikId + "&hidrantId=" + hidrantId;
                    window.location.href = url;
                },
                "Ne": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function KreirajRadniNalog(zapisnikId) {
        var url = "/vatrosistemi/Zapisnik/KreirajRadniNalog?zapisnikId=" + zapisnikId;
        window.location.href = url;
    }

    function SwitchCentralaProizvodjac() {
        if (proizvodjacDisplayed == "Select") {
            $('.SelectCentralaProizvodjac').hide();
            $('.InsertCentralaProizvodjac').show();
            proizvodjacDisplayed = "Insert";
        }
        else {
            $('.SelectCentralaProizvodjac').show();
            $('.InsertCentralaProizvodjac').hide();
            proizvodjacDisplayed = "Select";
        }
    }

    function SwitchCentralaTip() {
        if (centralaTipDisplayed == "Select") {
            $('.SelectCentralaTip').hide();
            $('.InsertCentralaTip').show();
            centralaTipDisplayed = "Insert";
        }
        else {
            $('.SelectCentralaTip').show();
            $('.InsertCentralaTip').hide();
            centralaTipDisplayed = "Select";
        }
    }


    function ObrisiJavljac(zapisnikId, javljacId) {
        $("#dialog-confirm").html("Da li ste sigurni da želite obrisati javljač?");

        // Define the Dialog and its properties.
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Modal",
            height: 250,
            width: 400,
            buttons: {
                "Da": function () {
                    $(this).dialog('close');
                    var url = "/vatrosistemi/Zapisnik/DeleteJavljac?zapisnikId=" + zapisnikId + "&javljacId=" + javljacId;
                    window.location.href = url;
                },
                "Ne": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function ObrisiSignalizaciju(zapisnikId, signalizacijaId) {
        $("#dialog-confirm").html("Da li ste sigurni da želite obrisati signalizaciju?");

        // Define the Dialog and its properties.
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Modal",
            height: 250,
            width: 400,
            buttons: {
                "Da": function () {
                    $(this).dialog('close');
                    var url = "/vatrosistemi/Zapisnik/DeleteSignalizacija?zapisnikId=" + zapisnikId + "&signalizacijaId=" + signalizacijaId;
                    window.location.href = url;
                },
                "Ne": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function ObrisiPeriferneUredjaje(zapisnikId, periferniUredjajId) {
        $("#dialog-confirm").html("Da li ste sigurni da želite obrisati periferni uređaj?");

        // Define the Dialog and its properties.
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Modal",
            height: 250,
            width: 400,
            buttons: {
                "Da": function () {
                    $(this).dialog('close');
                    var url = "/vatrosistemi/Zapisnik/DeletePeriferniUredjaj?zapisnikId=" + zapisnikId + "&periferniUredjajId=" + periferniUredjajId;
                    window.location.href = url;
                },
                "Ne": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function ObrisiIzvrsioca(zapisnikId, zapisnikIspitivacId) {
        $("#dialog-confirm").html("Da li ste sigurni da želite obrisati ispitivača?");

        // Define the Dialog and its properties.
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Modal",
            height: 250,
            width: 400,
            buttons: {
                "Da": function () {
                    $(this).dialog('close');
                    var url = "/vatrosistemi/Zapisnik/DeleteIzvrsilac?zapisnikId=" + zapisnikId + "&zapisnikIspitivacId=" + zapisnikIspitivacId;
                    window.location.href = url;
                },
                "Ne": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

</script>

<h2>
    Detalji zapisnika
</h2>

<div id="dialog-confirm"></div>

@using (Html.BeginForm("Save", "Zapisnik", FormMethod.Post))
{
    @*if (Model.Succeeded == false)
        {
            <div style="float:left; width:100%; margin-bottom:15px; color:red;">
                <div style="float:left; width:50%;">
                    @Html.LabelForModel(Model.Error)
                </div>
            </div>
        }
        else
        {
            <div style="float:left; width:100%; margin-bottom:15px; color:green;">
                <div style="float:left; width:50%;">
                    @Html.LabelForModel(Model.Error)
                </div>
            </div>
        }*@


if (Model != null && Model.Zapisnik != null)
{
    @Html.HiddenFor(x => x.Zapisnik.ZapisnikId, new { @Value = Model.Zapisnik.ZapisnikId })
    @Html.HiddenFor(x => x.Zapisnik.Fakturisano, new { @Value = Model.Zapisnik.Fakturisano })
}

    <div style="float:left; width:100%; margin-bottom:15px;">
        <div style="float: left; width: 130px;">
            <label>Datum pregleda: </label>
        </div>
        <div style="float:left; width:50%;">
            @Html.EditorFor(model => Model.Zapisnik.DatumZapisnika, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
        </div>
    </div>
    <div style="float:left; width:100%; margin-bottom:15px;">
        <div style="float: left; width: 130px;">
            <label>Zapisnik broj: </label>
        </div>
        <div style="float:left; width:45%;">
            @Html.TextBoxFor(x => x.Zapisnik.BrojZapisnika, new { Style = "width:40px; text-align:right;" }) - @Html.TextBoxFor(x => x.Zapisnik.BrojZapisnikaMjesec, new { Style = "width:25px; text-align:right;" }) / @Html.TextBoxFor(x => x.Zapisnik.BrojZapisnikaGodina, new { Style = "width:40px; text-align:right;" })
        </div>
    </div>
    <div style="float:left; width:100%; margin-bottom:15px;">
        <div style="float: left; width: 130px;">
            <label>Klijent: </label>
        </div>
        <div style="float: left; width: 40%;">
            @Html.DropDownListFor(x => x.KlijentId, Model.Klijenti, new { @class = "dropdownlistStyle", Style = "width:450px; text-align:right;" })
        </div>
        <div>
            <input type="button" value="Dodaj novog klijenta" onclick="AddNewKlijent()" style="width:200px;" />
        </div>
    </div>
    <div style="float:left; width:100%; margin-bottom:15px;">
        <div style="float: left; width: 130px;">
            <label>Lokacija: </label>
        </div>
        <div style="float:left; width:40%;">
            @Html.DropDownListFor(x => x.Zapisnik.LokacijaId, Model.Lokacije, new { @class = "dropdownlistLokacije", Style = "width:450px; text-align:right;" })
        </div>
        <div>
            <input type="button" value="Dodaj novu lokaciju" onclick="AddNewLocation()" style="width:200px;" />
        </div>
    </div>
    <div style="float:left; width:100%; margin-bottom:15px;">
        <div style="float: left; width: 130px;">
            <label>Tip zapisnika: </label>
        </div>
        <div style="float:left; width:25%;">
            @Html.DropDownListFor(x => x.Zapisnik.ZapisnikTipId, Model.TipoviZapisnika, new { Style = "width:200px; text-align:right;" })
        </div>
    </div>
    if (Model.Zapisnik.ZapisnikTip.Naziv == "Hidranti" || Model.Zapisnik.ZapisnikTip.Naziv == "Vatrogasni Aparati")
    {
        <div style="float:left; width:100%; margin-bottom:15px;">
            <div style="float: left; width: 130px;">
                <label>Pregled izvršio: </label>
            </div>
            <div style="float: left; width: 25%;">
                @Html.DropDownListFor(x => x.Zapisnik.PregledIzvrsioId, Model.Zaposlenici, new { Style = "width:200px; text-align:right;" })
            </div>
        </div>
        <div style="float:left; width:100%; margin-bottom:15px;">
            <div style="float: left; width: 130px;">
                <label>Kontrolisao: </label>
            </div>
            <div style="float: left; width: 25%;">
                @Html.DropDownListFor(x => x.Zapisnik.KorisnikKontrolisaoId, Model.Zaposlenici, new { Style = "width:200px; text-align:right;" })
            </div>
        </div>
    }
    if (Model.Zapisnik.ZapisnikTip.Naziv == "Hidranti")
    {
        <div style="float:left; width:100%; margin-bottom:15px;">
            <div style="float: left; width: 130px;">
                <label>Dokumentacija: </label>
            </div>
            <div style="float: left; width: 25%;">
                @Html.CheckBoxFor(cb => Model.Zapisnik.DokumentacijaPrisutna.Value) Da
            </div>
        </div>
        <div style="float:left; width:100%; margin-bottom:15px;">
            <div style="float: left; width: 130px;">
                <label>Lok hidranata: </label>
            </div>
            <div style="float: left; width: 25%;">
                @Html.RadioButtonFor(m => m.Zapisnik.LokacijaHidranata, "U objektu", new { id = "UObjektu", @checked = true }) U objektu
                @Html.RadioButtonFor(m => m.Zapisnik.LokacijaHidranata, "Oko objekta", new { id = "OkoObjekta" }) Oko objekta
            </div>
        </div>
        <div style="float:left; width:100%; margin-bottom:15px;">
            <div style="float: left; width: 430px;">
                <label>Pregledom je utvrđeno da je hidrantska mreža priključena na </label>
            </div>
            <div style="float: left; width: 25%;">
                @Html.TextAreaFor(cb => Model.Zapisnik.HidrantPrikljucenNa, new { Style = "width:350px; max-width:600px; height:50px;" })
            </div>
        </div>
    }

    if (Model.Zapisnik.ZapisnikTip.Naziv == "Hidranti" || Model.Zapisnik.ZapisnikTip.Naziv == "Vatrogasni Aparati")
    {

        <div style="float:left; width:100%; margin-bottom:15px;">
            <div style="float:left; width:100%;">
                <label>Napomena: </label>
            </div>
            <div style="float: left;">
                @Html.TextAreaFor(x => x.Zapisnik.Napomena, new { Style = "width:560px; max-width:600px; height:80px;" })
            </div>
        </div>
    }
    <div style="float: left; width: 100%; margin-bottom: 15px;">
        <div style="float: left; width: 8%; margin-bottom: 15px;">
            <input type="submit" value="Spasi" />
        </div>
    </div>
}

@if (Model.Zapisnik.ZapisnikId != 0)
{
    if (Model.Zapisnik.ZapisnikTip.Naziv == "Vatrogasni Aparati")
    {
        <h3>Lista vatrogasnih aparata na lokaciji</h3>

        <div style="float: left; width: 100%; margin-bottom: 20px; font-weight: bolder;">
            <div style="float:left; width: 7%;">
                Tip
            </div>
            <div style="float:left; width: 10%;">
                Broj aparata
            </div>
            <div style="float:left; width: 8%;">
                Godina proizvodnje
            </div>
            <div style="float:left; width: 8%;">
                Vrijedi do
            </div>
            <div style="float:left; width: 13%;">
                Broj kartice
            </div>
            <div style="float:left; width: 13%;">
                Nap./Lok.
            </div>
            <div style="float:left; width: 8%;">
                Ispravnost
            </div>
            <div style="float:left; width: 8%;">
                Vrsta
            </div>
            <div style="float:left; width: 13%;">
                Akcije
            </div>
        </div>

        <div style="float:left; width: 100%; margin-bottom:20px">
            @if (Model.Zapisnik.ZapisnikAparats != null)
            {
                foreach (var ap in Model.Zapisnik.ZapisnikAparats)
                {
                    <div style="float:left; width: 100%;">
                        <div style="float: left; width: 7%; height: 20px;">
                            @ap.VatrogasniAparat.VatrogasniAparatTip.Naziv
                        </div>
                        <div style="float: left; width: 10%; height: 20px;">
                            @ap.VatrogasniAparat.BrojaAparata
                        </div>
                        <div style="float: left; width: 8%; height: 20px;">
                            @ap.VatrogasniAparat.GodinaProizvodnje
                        </div>
                        <div style="float: left; width: 8%; height: 20px;">
                            @ap.VatrogasniAparat.IspitivanjeVrijediDo
                        </div>
                        <div style="float: left; width: 13%; height: 20px;">
                            @ap.VatrogasniAparat.EvidencijskaKartica.BrojEvidencijskeKartice
                        </div>
                        <div style="float: left; width: 13%; height: 20px;  min-height:20px;">
                            @ap.VatrogasniAparat.Napomena
                        </div>
                        <div style="float: left; width: 8%; height: 20px;">
                            @ap.VatrogasniAparat.Ispravnost.Naziv
                        </div>
                        <div style="float: left; width: 8%; height: 20px;">
                            @ap.VatrogasniAparat.VatrogasniAparatVrsta.Naziv
                        </div>
                        <div style="float:left; width: 8%;">
                            @Html.ActionLink("Izmjeni", "EditVatrogasniAparat", "Zapisnik", new { vatrogasniAparatId = ap.VatrogasniAparatId, zapisnikId = Model.Zapisnik.ZapisnikId }, null)
                        </div>
                        <div style="float:left; width: 8%;">
                            <a onclick="ObrisiVatrogasniAparat(@Model.Zapisnik.ZapisnikId, @ap.VatrogasniAparatId);">Obriši</a>
                        </div>
                    </div>
                }
            }
        </div>

        using (Html.BeginForm("SaveVatrogasniAparat", "Zapisnik", FormMethod.Post))
        {
            @*@Html.Partial("EditVatrogasniAparatPartial", @Model.NewVatrogasniAparat)*@
            @Html.Partial("AparatPartial", Model.Aparat)
            <div style="float:left; width: 13%;">
                <input type="submit" value="Spasi" />
                <input type="button" value="Odustani" onclick="RedirectToZapisnik(@Model.Zapisnik.ZapisnikId);" />
            </div>
        }

    }

    if (Model.Zapisnik.ZapisnikTip.Naziv == "Hidranti")
    {
        <h3>Lista hidranata na lokaciji</h3>

        <div style="float: left; width: 100%; margin-bottom: 20px; font-weight: bolder;">
            <div style="float:left; width: 5%;">
                Oznaka
            </div>
            <div style="float: left; width: 5%;">
                Inst
            </div>
            <div style="float:left; width: 8%;">
                Hidrost. pritisak
            </div>
            <div style="float:left; width: 8%;">
                Hidrodin. pritisak
            </div>
            <div style="float:left; width: 8%;">
                Promjer mlaznice
            </div>
            <div style="float:left; width: 10%;">
                Protok
            </div>
            <div style="float:left; width: 10%;">
                Kompletnost opreme
            </div>
            <div style="float:left; width: 13%;">
                Vrsta hidranta
            </div>
            <div style="float:left; width: 10%;">
                Mikrolokacija
            </div>
            <div style="float:left; width: 13%;">
                Akcije
            </div>
        </div>
        <div style="float: left; width: 100%; margin-bottom: 20px">
            @if (Model.Zapisnik.ZapisnikHidrants != null)
            {
                foreach (var h in Model.Zapisnik.ZapisnikHidrants)
                {
                    <div style="float:left; width: 100%;">
                        <div style="float: left; width: 5%;">
                            @h.Hidrant.Oznaka
                        </div>
                        <div style="float: left; width: 5%;">
                            @h.Hidrant.Instalacija.Naziv
                        </div>
                        <div style="float: left; width: 8%; text-align: center;">
                            @h.Hidrant.HidrodinamickiPritisak
                        </div>
                        <div style="float: left; width: 8%; text-align: center; ">
                            @h.Hidrant.HidrodinamickiPritisak
                        </div>
                        <div style="float: left; width: 8%; text-align: center; ">
                            @h.Hidrant.PromjerMlaznice
                        </div>
                        <div style="float: left; width: 10%; text-align: center;">
                            @h.Hidrant.Protok
                        </div>
                        <div style="float: left; width: 10%;">
                            @h.Hidrant.Kompletnost.Naziv
                        </div>
                        <div style="float:left; width: 13%;">
                            @h.Hidrant.HidrantTip.Naziv
                        </div>
                        <div style="float: left; width: 10%; min-height: 20px;">
                            @h.Mikrolokacija
                        </div>
                        <div style="float:left; width: 8%;">
                            @Html.ActionLink("Izmjeni", "EditHidrant", "Zapisnik", new { hidrantId = h.HidrantId, zapisnikId = Model.Zapisnik.ZapisnikId }, null)
                        </div>
                        <div style="float:left; width: 8%;">
                            <a onclick="ObrisiHidrant(@Model.Zapisnik.ZapisnikId, @h.HidrantId);">Obriši</a>
                        </div>
                    </div>
                }
            }
        </div>
        using (Html.BeginForm("SaveHidrant", "Zapisnik", FormMethod.Post))
        {
            @*@Html.Partial("EditHidrantPartial", @Model.NewHidrant)*@
            <div style="float:left; width: 13%;">
                <input type="submit" value="Spasi" />
                <input type="button" value="Odustani" onclick="RedirectToZapisnik(@Model.Zapisnik.ZapisnikId);" />
            </div>
        }
    }

    <div style="float: left; width: 100%; margin-bottom: 20px; margin-top:20px;">
        <div style=" float:left;">
            <input type="button" value="Print zapisnik" onclick="window.open('../WebForms/ReportWebForm.aspx?dokument=zapisnik&zapisnikId=' + @Model.Zapisnik.ZapisnikId)" style="width:200px;" />
        </div>
        @if (Model.Zapisnik.ZapisnikTip.Naziv == "Hidranti" || Model.Zapisnik.ZapisnikTip.Naziv == "Dojava požara" || Model.Zapisnik.ZapisnikTip.Naziv == "Detekcija gasova")
        {
            <div style="float:left; margin-left:25px;">
                <input type="button" value="Print potvrdu" onclick="window.open('../WebForms/ReportWebForm.aspx?dokument=potvrda&zapisnikId=' + @Model.Zapisnik.ZapisnikId)" style="width:200px;" />
            </div>
        }
        <div style="float:left; margin-left:25px;">
            <input type="button" value="Kreiraj radni nalog" onclick="KreirajRadniNalog(@Model.Zapisnik.ZapisnikId);" style="width:200px;" />
        </div>
    </div>
}
