@model IEnumerable<FireSys.Entities.Zapisnik>

@{
    ViewBag.Title = "Zapisnici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/app/zapisnik/index.js");

@using (Html.BeginForm("ExportTo", "Zapisnik"))
{

    <div class="action-container margin-bottom-20 pull-right">
        <table>
            <tr>
                <td>
                    @*@Html.ActionLink("Kreiraj novog klijenta", "Create", null, new { @class = "btn btn-primary" })*@
                    @Html.DevExpress().Button(btn =>
               {
                   btn.Name = "btnNewZapisnik";
                   btn.Text = "Kreiraj novi zapisnik";
                   //btn.RouteValues = new { Controller = "Zapisnik", Action = "Create", ParamValue = "" };
                   btn.ControlStyle.CssClass = "create-button";
                   btn.ClientSideEvents.Click = "OnCreateClick";
               }).GetHtml()
                </td>
                <td>
                    @Html.DevExpress().Button(settings =>
               {
                   settings.Name = "btnUObradi";
                   settings.Text = "U obradi";
                   settings.ControlStyle.CssClass = "yellowButton";
                   settings.ClientSideEvents.Click = "UObradiClick";
               }).GetHtml()
                </td>
                <td>
                    @Html.DevExpress().Button(settings =>
               {
                   settings.Name = "btnZavrsen";
                   settings.Text = "Završen";
                   settings.ControlStyle.CssClass = "greenButton";
                   settings.ClientSideEvents.Click = "ZavrsenClick";
               }).GetHtml()
                </td>
                <td>
                    @Html.DevExpress().Button(btn =>
           {
               btn.Name = "btnExportToPDF";
               btn.Attributes["OutputFormatAttribute"] = "PDF";
               btn.Text = "PDF";
               btn.UseSubmitBehavior = true;
               btn.ClientSideEvents.Click = "OnClick";
               btn.ControlStyle.CssClass = "export-button";
           }).GetHtml()
                </td>
                <td>
                    @Html.DevExpress().Button(btn =>
           {
               btn.Name = "btnExportToXLSX";
               btn.Attributes["OutputFormatAttribute"] = "XLSX";
               btn.Text = "EXCEL";
               btn.UseSubmitBehavior = true;
               btn.ClientSideEvents.Click = "OnClick";
               btn.ControlStyle.CssClass = "export-button";
           }).GetHtml()
                </td>
            </tr>
        </table>
    </div>

    <br />


    @Html.Partial("ZapisnikGridView", Model)

}
