@model IEnumerable<FireSys.Entities.Klijent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kontakt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumKreiranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obrisano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumBrisanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KorisnikKreiraoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kontakt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumKreiranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obrisano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumBrisanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KorisnikKreiraoId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KlijentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KlijentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KlijentId })
        </td>
    </tr>
}

</table>
